<div class="main-container-lists">
  <div class="left-list-container">
    <h1>WHISHER LISTS</h1>
    <div class="d-flex justify-content-start w-75">
      <%= link_to "+ New List", new_list_path, class: "slide-left-right", id:"new-list" %>
    </div>
  </div>

  <div class="right-list-container">
  </div>
</div>

<div class="wrapper">
  <div class="row justify-content-center">
    <% @lists.each do |list| %>
      <%= render 'list_info', list: list  %>
    <% end %>
  </div>
</div>
