<div class="wrapper">
  <h1>WHISHER LISTS</h1>
  <div class="d-flex justify-content-end w-75 mr-2">
    <%= link_to "+ New List", new_list_path, class: "slide-left-right new-list" %>
  </div>
  <div class="row d-flex justify-content-center">
    <% @lists.each do |list| %>
      <div class="col-10 col-md-3">
        <%= link_to list_path(list) do %>
          <div class="card card-index-list">
            <%= image_tag asset_path("https://agenciaplatz.com.br/wp-content/uploads/2020/07/topo-platz-transformacao-digital-blog-compras-online.png"), class:"img-fluid" %>
            <div class="card-body-index-list">
              <%= render 'list_info', list: list  %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
