.list_index_wrapper {
  margin: 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list_index_card {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.08);
  }
}
