.main-container-show-lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e3e8f0;
}

.left-container-show-lists {
  width: 40%;

}

.left-container-show-lists h1 {
  font-size: 55px;
  line-height: 56px;
  font-weight: 500;
  font-family: 'Karla', sans-serif;
  letter-spacing: 1px;
}

.right-container-show-lists {
  background-image: url(asset_path('welcome-banner.svg'));
  background-size: cover;
  background-position: center center;
  width: 500px;
  height: 500px;
}

.list-fa {
  color: #6f9bda;
  font-size: 16px;
  font-weight: lighter;
  // font-family: 'Karla', sans-serif;
}
