<div class="main-container">
  <div class="aboutus-left-container">
  </div>
  <div class="aboutus-right-container">
    <h1>Who are we</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nemo dolorem aliquam quas quis quia error pariatur quae quaerat a iusto, at sit? Magnam fuga odio quis quisquam. Ex, eligendi?
    </p>
  </div>
</div>
