<div class="main-container">
  <div class="aboutus-left-container">
    <h1>Who are we</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nemo dolorem aliquam quas quis quia error pariatur quae quaerat a iusto, at sit? Magnam fuga odio quis quisquam. Ex, eligendi?
    </p>
  </div>
  <div class="aboutus-right-container">
  </div>
</div>

<div class="container text-center py-4">
  <h3>Our Team</h3>

  <div class="row flex-row justify-content-center">

    <div class="card m-4" style="width: 14rem;">
      <%= image_tag asset_path('about_us/millene.png'), class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Millene Prado</h5>
        <p class="card-text">Chemical Engineering MSc. and a Full-Stack Web Development.</p>
        <a href="https://www.linkedin.com/in/millene-prado-92358798/" tagert = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
      </div>
    </div>

    <div class="card m-4" style="width: 14rem;">
      <%= image_tag asset_path('about_us/giovanna.png'), class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Giovanna Nunes</h5>
        <p class="card-text">Former lawyer and a Full-Stack Web Development.</p>
        <a href="https://www.linkedin.com/in/giovannanunescoelho/" tagert = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
      </div>
    </div>

    <div class="card m-4" style="width: 14rem;">
      <%= image_tag asset_path('about_us/raphael.png'), class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Raphael Cruz</h5>
        <p class="card-text">Geologist Engineer and a Full-Stack Web Development.</p>
        <a href="https://www.linkedin.com/in/giovannanunescoelho/" tagert = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
      </div>
    </div>

    <div class="card m-4" style="width: 14rem;">
      <%= image_tag asset_path('about_us/igor.png'), class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Igor Areco</h5>
        <p class="card-text">Full-Stack Web Development.</p>
        <a href="https://www.linkedin.com/in/giovannanunescoelho/" tagert = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
      </div>
    </div>

  </div>
</div>
