<div class="main-container">
  <div class="aboutus-left-container">
    <h1>Passionate Web Developers</h1>
    <p>
      We are a group of <span class="blue-text-color">full-stack web developers</span> graduated from Le Wagon's Coding Bootcamp - batch#690 and <span class="blue-text-color">Whisher</span> is our final course project.
    </p>
  </div>
  <div class="aboutus-right-container">
  </div>
</div>

<div class="container text-center py-4">
  <h3>Our Team</h3>

  <div class="row flex-row justify-content-center">

    <div class="card about-us-card m-3" style="width: 14rem;">
      <%= image_tag asset_path('about_us/millene.png'), class: "card-img-top" %>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Millene Prado</h5>
        <p class="card-text flex-grow-1">Chemical Engineering MSc. and a Full-Stack Web Development.</p>
        <a href="https://www.linkedin.com/in/millene-prado-92358798/" tagert = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
      </div>
    </div>

    <div class="card about-us-card m-3" style="width: 14rem;">
      <%= image_tag asset_path('about_us/giovanna.png'), class: "card-img-top" %>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Giovanna Nunes</h5>
        <p class="card-text flex-grow-1">Former lawyer and a Full-Stack Web Development.</p>
        <a href="https://www.linkedin.com/in/giovannanunescoelho/" tagert = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
      </div>
    </div>

    <div class="card about-us-card m-3" style="width: 14rem;">
      <%= image_tag asset_path('about_us/raphael.png'), class: "card-img-top" %>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Raphael Cruz</h5>
        <p class="card-text flex-grow-1">Geologist Engineer and a Full-Stack Web Development.</p>
        <a href="https://www.linkedin.com/in/raphael-rodrigues-da-cruz-7166b9b0/
" tagert = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
      </div>
    </div>

    <div class="card about-us-card m-3" style="width: 14rem;">
      <%= image_tag asset_path('about_us/igor.png'), class: "card-img-top" %>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Igor Areco</h5>
        <p class="card-text flex-grow-1">Full-Stack Web Development.</p>
        <a href="https://www.linkedin.com/in/igorareco/" tagert = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
      </div>
    </div>

  </div>
</div>
