<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('homepg_banner.jpg')%>)">
  <div class="container">
    <h1>Your online shopping list in one place</h1>
    <%= link_to "Login", new_user_session_path, class:"btn btn-dark"%>
    <%= link_to "Sign up", new_user_registration_path, class:"btn btn-dark"%>
  </div>
</div>
