<div class="main-container">
  <div class="left-container">
    <h1>Your Online Shopping List in One Place</h1>
    <%= link_to 'Sign in', root_path, class:"btn btn-ghost mt-5" %>
  </div>
  <div class="right-container">
  </div>
</div>


<div class="second-container">
  <div class="first-left">
  </div>

  <div class="first-right ">
    <h3>Easy way to manage your wish list</h3>
  </div>
</div>
<div class="main-container">
  <div class="second-left">
    <h3> Your wish list customized </h3>
  </div>

  <div class="second-right">
  </div>
</div>
