<div class="main-container">
  <div class="left-container">
    <h1>Your Online Shopping List in One Place</h1>
    <%= link_to 'Sign in', root_path, class:"btn btn-ghost mt-5" %>
  </div>
  <div class="right-container">
  </div>
</div>

<div class="second-container">
  <div class="img-left-container float-left">
  </div>

  <div class="flex-grow-1 ml-5">
    <h3>Easy way to manage your wish list</h3>
  </div>
</div>
<div class="second-container">
  <div class="flex-grow-1 text-right mr-5">
    <h3> Your wish list customized </h3>
  </div>

  <div class="img-right-container float-right">
  </div>
</div>
