<div class="main-container">
  <div class="services-left-container">
  </div>
  <div class="services-right-container">
    <h1>WHISHER</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nemo dolorem aliquam quas quis quia error pariatur quae quaerat a iusto, at sit? Magnam fuga odio quis quisquam. Ex, eligendi?
    </p>
  </div>
</div>

<div class="container text-center py-4">
  <h3>See Whisher supported sites</h3>

  <div class="services-second-container">
    <a href="https://www.madeiramadeira.com.br" target="_blank">
      <%= image_tag asset_path('services/MadeiraMadeira.png'), width: '200', class:'pr-4' %>
    </a>
    <a href="https://leitura.com.br/" target="_blank">
      <%= image_tag asset_path('services/leitura'), width: '200' %>
    </a>
  </div>


</div>
