.btn-products {
  background-color: rgb(199, 199, 199);
}

.btn-ghost {
  color: #6f9bda;
  border: 2px solid #6f9bda;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 12px 44px;
  border-radius: 50px;
  font-weight: bold;
  transition: opacity 0.3s ease;

  &:hover {
  background-color: #6f9bda;
  color: #f2f2f2;
  }

}
