.card-index-list {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #e3e8f0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);

  &:hover {
    // transform: scale(1.02);
    transform: translateY(-6px);
  }
}

.card-index-list img {
  border-radius: 8px 8px 0 0;
}

.card-body-index-list a {
  color: black !important;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-decoration: none !important;
}

.slide-left-right {
  display: inline-block;
  color:#6f9bda;

  &:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    -webkit-transition: width .5s ease, background-color .5s ease;
  }

  &:hover:after {
    width: 100%;
    background: #6f9bda;
  }
}

.card-products {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-body-products {
  background-color: rgb(199, 199, 199);
  width: 100%;
  text-align: center;
}
